<div class="col-md-8 col-md-offset-2" align="middle">

	<div class="col-md-9">
	<i class="custom-large-title">Uber photothèque</i>
	</div>


	</br></br></br></br></br></br>

	<%= render "devise/shared/signin" %>

</div>

